/*  your css code here. If applicable */
*{
	text-align:center;
	background-color:#f8f8f8;
}

.book-library{
	margin-top:0px;
	background-color:#ffffff;
/* 	padding:5px; */
	
}

.book-library h1{
	padding:20px;
}

.author{
	text-align:start;
	color:#777777;
}
h3{
	text-align:start;
}

.book img{
	padding:50px;
	
}

.price-block{
	color:white;
	background-color:#2ecc71;
	padding:10px;
}
